*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
  --col1: purple;
  --col2: white;
  --errorcol: purple;
}


.theme_btn1 {
  background-color: white;
  color: white;
  border: 1px solid purple;
  border-radius: 20px;
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
}


.linkstylenone {
  text-decoration: none;
  color: purple;
  margin-right: 20px;
}